// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: 'Montserrat', sans-serif;
  --space: 10px;

  &.locked {
    overflow: hidden;
  }
}

body,
html {
  min-height: 100vh;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 82px;
  width: fit-content;
  border-radius: 0px 20px;
  background-color: #F58113;
  border: 1px solid transparent;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;

  transition: color 0.2s linear, border 0.2s linear, background-color 0.2s linear;

  &:hover {
    color: #F58113;
    border-color: #F58113;
    background-color: transparent;
  }
}



// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}